.bg-one {
  background-color: #f1a661;
}

.bg-two {
  background-color: #ffd8a9;
}

.bg-three {
  background-color: #27374d;
}

.bg-four {
  background-color: #526d82;
}

.bg-five {
  background-color: #dde6ed;
}

.bg-six {
  background-color: #adbad2;
}

.bg-seven {
  background-color: #397d39;
}

.bg-eight {
  background-color: #b8d6b8;
}

.h-1px {
  height: 1px;
}
